@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header { 
	background: url(http://i.imgur.com/s3mRlTk.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	position: relative;
}

/*navbar section*/
.navbar-inverse {
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

.nav.navbar-nav li > a {
	display: static;
	padding: 50px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Nunito', sens-serif;
	font-weight: bold;
	font-size: 15px;
	margin-top: 70px;
	text-align: center;
}

.nav.navbar-nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.nav.navbar-nav li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 5);
}

.nav.navbar-nav li > a > img {
	margin-top: -30px;
}

.nav.navbar-nav li > a:hover {
	color: #ffe100;
	transition: 0.8s;
}

/*jumbotron*/
.photoJumbo {
	text-align: center;
}

.photoJumbo h1 {
	color: #fff;
	font-family: 'Nunito', sens-serif;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 7px;
	text-transform: uppercase;
	margin-top: 250px;
}

.photoJumbo p {
	color: #fff;
	font-family: 'Nunito', sens-serif;
	font-size: 20px;
	letter-spacing: 7px;
	padding: 20px;
}

.photoJumbo button {
	height: 50px;
	width: 160px;
	background-color: #16a085;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: medium;
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 5px;
	position: relative;
	z-index: 2;
}

.photoJumbo button:hover {
	color: #ffe100;
	transition: 0.8s;
}

.photoJumbo i {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	color: #fff;
	padding: 20px;
	margin-top: 215px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2;
}

.photoJumbo i:hover {
	color: #ffe100;
	transition: 0.8s;
}

/*motto*/

.motto {
	background-color: #f5f6f7;
	height: auto;
	position: relative;
}

.motto h1 {
	font-family: 'Nunito', sens-serif;
	font-size: 20px;
	font-weight: bold;
	color: #16a085;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 110px;
}

.motto p {
	font-family: 'Nunito', sens-serif;
	font-size: 15px;
	line-height: 25px;
	text-align: left;
	color: #000;
	letter-spacing: 1px;
	margin-top: 50px;
}

.motto button {
	height: 50px;
	width: 200px;
	background-color: #16a085;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: medium;
	border: none;
	border-radius: 5px;
	margin-top: 50px;
	margin-bottom: 100px;
	position: relative;
	z-index: 2;
}

.motto button:hover {
	color: #ffe100;
	transition: 0.8s;
}

.motto img {
	position: absolute;
	margin-top: 90px;
	top: 9%;
	right: 20%;
	overflow: hidden;
	z-index: 1;
}

/*design*/
.design {
	position: relative;
	background-color: #fff;
	z-index: 2;
}

.design h1 {
	font-family: 'Nunito', sens-serif;
	font-size: 20px;
	font-weight: bold;
	color: #16a085;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 135px;
}

.design p {
	font-family: 'Nunito', sens-serif;
	font-size: 15px;
	line-height: 25px;
	text-align: left;
	color: #000;
	margin-top: 30px;
	letter-spacing: 1px;
	margin-right: -35px;
}

.design button {
	height: 50px;
	width: 200px;
	background-color: #16a085;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: medium;
	border: none;
	border-radius: 5px;
	margin-top: 30px;
}

.design button:hover {
	color: #ffe100;
	transition: 0.8s;
}

.design img {
	margin-top: 135px;
	position: absolute;
	z-index: 1;
}

.design h2 {
	font-family: 'Nunito', sens-serif;
	font-size: 15px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 0;
}

.design i {
	display: inline-block;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 50px;
	margin-right: 20px;
	color: #000;
	text-decoration: none;
}

.design i:hover {
	color: #34dcf5;
	transition: 0.8s;
}

/*community*/

.community {
	background-color: #f5f6f7;
	height: 550px;
	position: relative;
	z-index: 2;
}

.community h1 {
	font-family: 'Nunito', sens-serif;
	font-size: 25px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

.community p {
	font-family: 'Nunito', sens-serif;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	color: #000;
	letter-spacing: 1px;
}

.aparacik {
	margin-right: auto;
	margin-left: auto;
}

.community img {
	margin-top: 120px;
	width: auto;
	height: auto;
}

.community i {
	font-size: 35px;
	font-weight: bold;
	float: right;
	text-decoration: none;
	color: #000;
	margin-right: 20px;
	margin-top: 80px;
}

.community i:hover {
	color: #34dcf5;
	transition: 0.8s;
}

/*subscribe*/
.subscribe {
	background: url(http://i.imgur.com/zUiGKyZ.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 790px;
}

.subscribe h1 {
	font-family: 'Nunito', sens-serif;
	font-weight: bold;
	font-size: 25px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	margin-top: 350px;
	margin-bottom: 40px;
}

.subscribe .input-group {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.subscribe .form-control {
	font-family: 'Nunito', sens-serif;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
}

.subscribe .input-group-addon {
	background-color: #16a085;
	cursor: pointer;
}

.subscribe .fa {
	color: #fff;
	font-size: 15px;
}

/*download*/
.download {
	background-color: #f5f6f7;
	text-align: center;
}

.download h1 {
	margin-top: 100px;
	font-family: 'Nunito', sens-serif;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.download p {
	font-family: 'Nunito', sens-serif;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 1px;
	margin-bottom: 45px;
}

.download .button {
	width: 300px;
	height: 55px;
	background-color: #1abc9c;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Nunito', sens-serif;
	font-size: 15px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: left;
	text-indent: 30px;
	margin-right: 40px;
	margin-bottom: 115px;
}

.download a {
	color: #fff;
}

.download i {
	float: right;
	margin-right: 20px;
	font-size: 25px;
}

.download a:hover {
	color: #ffe100;
	transition: 0.8s;
	text-decoration: none;
}

/*footer*/

footer img {
	float: right;
	margin-top: 40px;
}

footer h2, h3 {
	display: inline-block;
	margin-top: 40px;
	font-family: 'Nunito', sens-serif;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	color: #373737;
}

footer h2:hover {
	color: #34dcf5;
	transition: 0.8s;
}

footer h3:hover{
	color: #34dcf5;
	transition: 0.8s;
}

footer h2:before {
	content: "";
	border: 1px solid #16a085;
	margin-right: 10px;
	margin-left: 10px;
}

footer h3:first-child {
	border: none;
}

footer p {
	margin-top: 25px;
	font-family: 'Nunito', sens-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	letter-spacing: 2px;
}
.centerCoyright {
	text-align: center;
}

footer .fa {
	font-size: 20px;
}

footer .fa:hover {
	font-size: 25px;
}


/*grid responsive solutions*/
.row:before,
.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*media queres*/

@media (min-width: 768px) and (max-width: 991px) {

.motto img {
	display: none;
}

.motto h1 {
	text-align: center;
}

.motto p {
	text-align: center;
}

.motto button {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}
}

@media (max-width: 767px) {
	.col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

.nav.navbar-nav li {
    display: block;
    width: auto;
    margin-top: -70px;
}

.photoJumbo {
	margin-bottom: 20px;
}

.motto h1 {
	text-align: center;
	margin-top: 20px;
}

.motto p {
	text-align: center;
}

.motto button {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.motto img {
	display: none;
}

.design {
	margin-left: 20px;
	margin-right: 20px;
}

.design h1 {
	text-align: center;
	margin-top: 20px;
}

.design p {
	text-align: center;
}

.design button {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.design img {
	display: none;
}

.design .header {
	display: none;
}

.design .arrow {
	display: none;
}

.community {
	margin-left: 20px;
	margin-right: 20px;
}

.community img {
	margin-top: 20px;
}

.community .communityImageCenter img {
	display: block;
	margin: 0 auto;
	margin-bottom: -50px;
}

.community .communityImage img {
	display: none;
}

.download h1 {
	margin-top: 20px;
}

.download .button {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
}

footer a {
	margin: 0 auto;
	display: block;
	text-align: center;
}

footer h2:before {
	display: none;
}

footer p {
	text-align: center;
}

footer img {
	display:none;
}

}